modules/PESCXML/Private/AcknowledgmentSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Amy Rice (CINCINNATI STATE TECH COLLEGE) -->
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Acknowledgment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransmissionData">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DocumentID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="204671-05032006132121-0000000000011"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CreatedDateTime">
								<xs:simpleType>
									<xs:restriction base="xs:dateTime">
										<xs:enumeration value="2006-05-03T13:21:21.0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DocumentTypeCode">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="TranscriptAcknowledgment"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TransmissionType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Original"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Source">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Organization">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="IPEDS">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:enumeration value="204671"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
                          <xs:element name="FICE">
                            <xs:simpleType>
                              <xs:restriction base="xs:int">
                                <xs:enumeration value="004841"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
													<xs:element name="OrganizationName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="THE OHIO STATE UNIVERSITY - LIMA CAMPUS"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Contacts">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Address">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="AddressLine">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="4240 Campus Drive"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="City">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Lima"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="StateProvinceCode">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="OH"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="PostalCode">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="45804"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="AttentionLine">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Joe Advisor"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Phone">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="AreaCityCode">
																				<xs:simpleType>
																					<xs:restriction base="xs:short">
																						<xs:enumeration value="419"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="PhoneNumber">
																				<xs:simpleType>
																					<xs:restriction base="xs:long">
																						<xs:enumeration value="14199958391"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Email">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="EmailAddress">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="askabuckeye@lima.ohiostate.edu"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Destination">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Organization">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="IPEDS">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:enumeration value="203155"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="OrganizationName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="HOCKING TECHNICAL COLLEGE"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Contacts">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Address">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="AddressLine">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="3301 Hocking Parkway"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="City">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Nelsonville"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="StateProvinceCode">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="OH"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="PostalCode">
																				<xs:simpleType>
																					<xs:restriction base="xs:int">
																						<xs:enumeration value="45764"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Phone">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="AreaCityCode">
																				<xs:simpleType>
																					<xs:restriction base="xs:short">
																						<xs:enumeration value="877"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="PhoneNumber">
																				<xs:simpleType>
																					<xs:restriction base="xs:long">
																						<xs:enumeration value="18774625464"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Email">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="EmailAddress">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="admissions@hocking.edu"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="URL">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="URLAddress">
																				<xs:simpleType>
																					<xs:restriction base="xs:anyURI">
																						<xs:enumeration value="http://www.hocking.edu"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RequestTrackingID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="203155-05032006112121-0000000000001"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Person">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SchoolAssignedPersonID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="a"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SSN">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="123456789"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Birth">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BirthDate">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="1981-07-15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Name">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FirstName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Maggie"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MiddleName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Ann"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LastName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Student"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AlternateName">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FirstName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Maggie"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MiddleName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Ann"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LastName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Maiden"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Contacts">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Address" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AddressLine">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="123 1st Street"/>
																<xs:enumeration value="124 2nd Street"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="City">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="Lima"/>
																<xs:enumeration value="Nelsonville"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="StateProvinceCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="OH"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PostalCode">
														<xs:simpleType>
															<xs:restriction base="xs:int">
																<xs:enumeration value="45764"/>
																<xs:enumeration value="45804"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Email">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EmailAddress">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="maggie.ann.student@gmail.com"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Gender">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GenderCode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Female"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AcademicAwardTotal">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:enumeration value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CourseTotal">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:enumeration value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
